body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d6d6da;
}

main {
    margin: 5% auto;
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

header, footer {
    background-color: #1a2aa5;
    color: white;
    padding: .8em;
    text-align: center;
    border-radius: 10px;

}

.mainContent {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 8px;

}

.myPicture {
    position: relative;
    top: -70px;
    box-shadow: 0 0 10px;
}

li {
    margin: 5px;
    font-size: 1.1em;
    list-style: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    margin: 20px;
    margin-left: 150px;
    text-align: left;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-top: 10px;
}

hr {
    width: 150%;
}
a {
    color: #1a2aa5;
}
a:hover {
    color: #495eff;
}
#updated {
    color: grey;
}
