/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/

body {
    margin: 0;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
h1, h2 { color: #1B72BF; font-family: 'Roboto', sans-serif;}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #F2D377;
    color: #1B72BF;
    width : 100%;
    
}
header img {float: left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

header section {
    display: flex;
    flex-flow: column;
}
/*----------- NAVIGATION --------------*/
nav{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#154c87+0,7db9e8+100 */
background:  #f2b366; /* Old browsers */
background: -moz-linear-gradient(top, #F2D377 0%, #f2b366 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,#F2D377 0%, #f2b366 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #F2D377 0%, #f2b366 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2D377', endColorstr='#f2b366',GradientType=0 ); /* IE6-9 */
  }
nav button {
    display: block;
    margin: 0 auto;              
    background-color: transparent;   
    border: none;                    
    font-size: 1.6rem;               
    color: #fff;                   
}

nav {
    background-color: #F2D377;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #333333;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: white;
    color: #F2B366;
}
nav ul li.active a {
    background-color: #F2B366;
    color: black;
}

nav ul.hide {display:none;}
/*----------- MAIN --------------*/
main {
    
    padding: 0 2%;
    min-height: 10rem;
    font-family: 'Source Sans Pro', sans-serif;
}
main img {
    max-width: 100%;
}

.logo-example img{
    width : 100px;
}
.typo-examples {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2.5rem 0 2.5rem 0;

}
.typo-examples .left, .right{
    width : 50%;
} 
.typo-examples .left {
    background-color: #F2D377;
    color: #333333;
}
main section {
    padding: 2rem;
    margin: 2rem 1rem;
    background-color:#7ebfd9;
}
/*----------- FOOTER --------------*/
footer {
    background-color: #F2D377;
    padding: .5rem 2%;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#154c87+0,7db9e8+100 */
    background:  #f2b366; /* Old browsers */
    background: -moz-linear-gradient(top, #f2b366 0%, #F2D377 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,#f2b366 0%, #F2D377 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2b366 0%, #F2D377 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b366', endColorstr='#F2D377',GradientType=0 ); /* IE6-9 */
  }


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}