@media only screen and (min-width: 64rem) {

  /*----------- NAVIGATION --------------*/
  /* display nav normally for large screens */
  nav ul, nav ul.hide {margin-left: 1rem; display: flex;}
  /* added .hide class to fix error with hidden nav when menu is collapsed */
  nav ul li { flex: 1 1 100%;}
  nav ul li a {
      padding: .5rem 1rem;
      font-size: 1.0rem;
      }

  nav button {
      display: none;   
  }

  .mainNav {
        display: flex;
        max-width: 960;
        margin: 0 auto;
  }
  .mainNav li{
    display: block;
    flex: 1 1 auto;
  }
  .mainNav a {
      text-align: center;
  }
  .ham {
      display: none;
  }
  /*HEADER*/
  
  /* ------------MAIN------------- */

main{
      max-width: 64rem;
      margin: 0 auto;
  }
  
  .weather-summary {
    display: block;
    position: absolute;
    text-align: center;
    background-color: whitesmoke;
    opacity: .75;
    border-style: double;
    border-color: black;
    width: 200px;
    height: auto;
    margin-top: -250px;
    margin-left: 50px;
}
.summary-image {
    width: 100%;
}

.map {
    width: 100%;
}


} /* end of media query */