/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    header img{width: 75px;}
    header h1{font-size: 2rem;}
    header h2{font-size: 1.5rem;}
    
    
    
    /*----------- NAVIGATION --------------*/
  
    
    
    /*----------- MAIN --------------*/
    
  
    .contact-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20%
    }
  
    .contact {
        grid-column: 0;
    }
    .map {
        grid-column: 2;
        max-width: 400px;
        margin: 0 auto;
    }
    
    .article img {
        float: right;
        margin-bottom: 20px;
      }
      
    .article p {
    display: inline;
    }
    /*----------- FOOTER --------------*/
        
    } /* end of media query */